
<div class="container">
  <div class="row d-flex align-self-center align-middl pt-5 gx-5">
      
    <div class="col-lg-6 text-end">
        <h5 class="text-center">KONTAKTA</h5>
        <form class="mt-5">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control border-bottom p-3" />
            <label class="form-label" for="form4Example1">Förnamn</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control border-bottom p-3" />
            <label class="form-label" for="form4Example1">Efternamn</label>
          </div>
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form4Example2" class="form-control border-bottom p-3" />
            <label class="form-label" for="form4Example2">Email</label>
          </div>
        
          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control border" id="form4Example3" rows="4"></textarea>
            <label class="form-label" for="form4Example3">Meddelande</label>
          </div>

        
          <!-- Submit button -->
          <button type="submit" class="btn btn-outline btn-lg text-end mb-4">Send</button>
        </form>
      <div class="text-start">
        <h5>Alexander Markianos</h5>
        <p>Liegatan 15 <br>724 67, Västerås</p>
        <p><span class="font-weight-bold">tel: </span>+46 / 0704 - 55 97 39<br>
       <span class="font-weight-bold">mail: </span>  alexander.markianos@gmail.com</p>
      </div>

      <div class="d-flex justify-content-between w-25 mb-5">
        <img class="me-3" src="../../../assets/img/Image 1.png" alt="twitter">
        <img class="me-3" src="../../../assets/img/Image 2.png" alt="LinkedIn">
        <img class="me-3" src="../../../assets/img/Image 3.png" alt="Facebook">
        <img class="me-3" src="../../../assets/img/Image 4.png" alt="Instagram">
      </div>
      
      </div>



      <div class="col-lg-6">
        <h5 class="text-center mb-5">OM MIG</h5>
        <p class="">
          Mitt namn är Alexander Markianos jag är en 38 årig göteborgare som varit bosatt i Västerås sedan 2011. Jag är utbildad inom media, rörlig bild och ljudteknik men har efter några jordsnurr hunnit arbeta inom de flesta yrkesområdena.  Senast som fritidsledare och avdelningschef inom ungdom-och fritidssektorn i Västerås. 
        </p>
        <p class="">
          Jag är utan tvekan en kreativ och glad människa med målet att ständigt utvecklas och se resultat i de områden som jag är aktiv i. Jag har lätt för att nätverka, ser lösningar och gillar att vara i sociala miljöer där jag kan använda mina kvaliteter till att vara en effektiv kraft som får saker att hända.
        </p>
        <p>
          Jag har engagemang i allt jag tar för mig och arbetar även ideellt i föreningslivet samt med samhällsutveckling då jag tycker det är viktigt att vara en bidragande del i det samhälle vi bor i. 
        </p>
        <div class="text-end mb-5">
          <img class="w-25" src="../../../assets/img/1png.png" alt="">
        </div>
        <h5 class="">
          Webbutveckling, rörlig media och ljud
        </h5>
        <p class="">
          Sedan 2020 så har jag åter fortsatt min resa inom den digitala världen och går nu en två årig YH-utbildning som frontendutvecklare. Parrallellt med det så frilansar jag, föreläser och håller kurser via studieförbund. Känner du att du har ett projekt eller en idé som du vill ha hjälp med att förverkliga så tveka inte att höra av dig. 
        </p>

        <p class="sign">Alexander Markianos</p>
      </div>
  
    </div>
  

    <div class="d-inline-flex justify-content-end">
      <small class="text-end opacity-40">© Alexander Markianos 2021</small>
    </div>
  
  </div>

