.section-gray {
    background-color: lightgray;
    padding: 2rem;
}
.section-gray2 {
    height: 1000px;
    background-color: blue;
    padding: 2rem;
}

section img {
    border-radius: 100%;
    max-height: 250px;
}

.snabb-links li, a {
    text-decoration: none;
    list-style: none;
    color: #343A40;
}

.snabb-links li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section-titles {
    margin-top: 5rem !important;
}

footer {
    background-color: #003050;
    height: 200px;
}