<section class="container-fluid section-gray">
    <div class="container d-flex">

        <div class=" col-6">
            <img class="mb-5" src="../../../assets/img/profile2.webp" alt="">
            <div>
                <div class="text-start">
                    <h5>Alexander Markianos</h5>
                    <p><b>Liegatan 15 <br>724 67, Västerås</b></p>
                    <p><span class="font-weight-bold">tel: </span>+46 / 0704 - 55 97 39<br>
                   <span class="font-weight-bold">e-mail: </span>  alexander.markianos@gmail.com</p>
                  </div>
            
                  <div class="d-flex justify-content-between w-25 mt-5">
                    <img class="me-3" src="../../../assets/img/Image 1.png" alt="">
                    <img class="me-3" src="../../../assets/img/Image 2.png" alt="">
                    <img class="me-3" src="../../../assets/img/Image 3.png" alt="">
                    <img class="me-3" src="../../../assets/img/Image 4.png" alt="">
                  </div>
            </div>
        </div>

        <div class=" col-6 text-end">
            <h3>Snabblänkar</h3>
            <hr class="w-25 ms-auto">
            <ul class="snabb-links lh-lg">
                <li>
                    <a pageScroll href="cv#arbete">Arbetslivserfarenhet</a>
                </li>
                <li>
                    <a pageScroll href="cv#utbildning">Utbildning</a>
                </li>
                <li>
                    <a pageScroll href="cv#webb">Webbspråk</a>
                </li>
                <li>
                    <a pageScroll href="cv#meriter">Öv. meriter</a>
                </li>
            </ul>

            <a class="text-primary" href="../../../assets/img/Cv.pdf" download="CV">Ladda ner CV som PDF</a>
        </div>

    </div>
</section>

<section class="container">

    <h3 id="arbete" class="my-5 section-titles">Arbetslivserfarenhet</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Befattning</th>
            <th scope="col">Arbetsplats</th>
            <th scope="col">Period</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Frilansare inom mediaproduktion</td>
            <td>Egen företagare</td>
            <td>2020 - 2021</td>
          </tr>
          <tr>
            <td>Avdelningschef</td>
            <td>Centralens Fritidsgård, Växhuset Västerås</td>
            <td>2019-2020</td>
          </tr>
          <tr>
            <td>Avdelningschef</td>
            <td>Viksängs Fritidsgård, Västerås</td>
            <td>2017-2019</td>
          </tr>
          <tr>
            <td>Fritidsledare</td>
            <td>Viksängs Fritidsgård, Västerås</td>
            <td>2012-2017</td>
          </tr>
          <tr>
            <td>Egen företagare</td>
            <td>Unbeso Events, Göteborg</td>
            <td>2009-2011</td>
          </tr>
          <tr>
            <td>Egen företagare</td>
            <td>031Entertainment, Göteborg</td>
            <td>2005-2007</td>
          </tr>
        </tbody>
    </table>

    <h3 id="utbildning" class="my-5 section-titles">Utbildning</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Utbildning</th>
            <th scope="col">Skola</th>
            <th scope="col">Period</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Frontend Utvecklare</td>
            <td>ECUtbildning, västerås</td>
            <td>2020 - 2022</td>
          </tr>
          <tr>
            <td>Fritidsledare</td>
            <td>Karlskoga Folkhögskola, karlskoga</td>
            <td>2013-2015</td>
          </tr>
          <tr>
            <td>Modern greek language and culture</td>
            <td>Arestotele University of Thessaloniki, Greece</td>
            <td>2008-2009</td>
          </tr>
          <tr>
            <td>Medieproducent</td>
            <td>Medieprogrammet, Munkebäcksgymnasiet, Göteborg</td>
            <td>1999-2002</td>
          </tr>
        </tbody>
      </table>

      <h3 id="webb" class="my-5 section-titles">Webbspråk/Ramverktyg</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Språk/Ramverktyg</th>
            <th scope="col">Erfarenhet</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HTML</td>
            <td>5 år</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>5 år</td>
          </tr>
          <tr>
            <td>JavaScript</td>
            <td>1 år</td>
          </tr>
          <tr>
            <td>Vue</td>
            <td>6 mån</td>
          </tr>
          <tr>
            <td>React</td>
            <td>6 mån</td>
          </tr>
          <tr>
            <td>Angular</td>
            <td>6 mån</td>
          </tr>
        </tbody>

        <h5 class="mt-5">Övrig erfarenhet</h5>
                  <li>
                    Innehar även kunskaper inom CSS bibliotek som <b>Bootstrap 5 & Animate.css</b>
                  </li>
                  <li>
                    <b>CMS</b> publiceringsverktyg som <b>Wordpress</b> och <b>Episerver.</b>  
                  </li>
                  <li>
                    Mycket god vana i arbete med <b>Adobe CC</b>, främst <b>Photoshop</b> och <b>Illustrator</b>. 
                  </li>
                  <li>
                    Även Stor erfarenhet av att jobba mot <b>sociala medier</b> (<em>Facebook, Instagram, TikTok, Snapchat</em>) med <b>marknadsföring</b> och <b>kommunikation.</b> 
                  </li>
    </table>


    <h3 id="meriter" class="my-5 section-titles">Övriga Meriter</h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Språk</th>
            <th scope="col">Nivå</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Svenska</td>
            <td>Modersmål</td>
          </tr>
          <tr>
            <td>Engelska</td>
            <td>Flytande</td>
          </tr>
          <tr>
            <td>Grekiska</td>
            <td>Flytande</td>
          </tr>
          <tr>
            <td>Spanska</td>
            <td>Mycket god</td>
          </tr>

          <h5 class="mt-5">Körkort</h5>
          <li>
            B-körkort för personbil
          </li>
        </tbody>
      </table>

      
    </section>
    <div class="container my-5">
        <a class="text-primary" href="../../../assets/img/Cv.pdf" download="CV">Ladda ner CV som PDF</a>
    </div>

    <footer>
        <div class=" container p-5 text-white text-end">
            <small class=" text-end opacity-40 p-5">© Alexander Markianos 2021</small>
        </div>

    </footer>

