<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" routerLink="/">
        <img
          src=""
          height="16"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />LOGO
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="#"></a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center p-3">
            <ul class="d-flex justify-content-between list-unstyled">
                <li>
                    <a routerLink="/om">Om</a>
                </li>
                <li>
                    <a routerLink="/cv">CV</a>
                </li>
                <li>
                    <a routerLink="/kontakta">Kontakta</a>
                </li>
            </ul>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


