
<div class="container">
    <div class="row d-flex align-self-center align-middl pt-5 m-auto text-center img-fluider">
        <div class="col-lg-6 text-center">
            <div><img class=" img-fluid" src="../../../assets/img/1png.png" alt=""></div>
        </div>
        <div class="col-lg-6">
            <h1 class=" display-1 text-jumbo">Alexander Markianos</h1>
            <p class="ls-wider font-weight-lighter lh-lg skillz">
               <i class="text-danger fa fa-code"></i> frontend<span class="me-4 font-weight-bold">Utvecklare</span>
               <i class="text-info fa fa-photo-video"></i> media<span class="me-4 font-weight-bold">Kreatör</span>
               <i class="text-warning fa fa-video"></i> film<span class="me-4 font-weight-bold">Skapare</span>
               <i class="text-success fab fa-itunes-note"></i> ljud<span class=" font-weight-bold">Designer</span>
              </p>

            <div class="row mt-5 white-space">
                <div class="col-12 ">
                    <a routerLink="/cv"> <button class="btn px-5 me-3 btn-primary">CV</button></a>
                </div>
                <!-- <div class="col-11 mt-3 text-end p-0">
                    <span class="small d-none d-lg-block">Klicka för att se mitt CV</span>
                </div> -->
                <div class="arrow-img img-fluid">
                    <div><img class="w-50 opacity-70 d-none d-md-block ms-5" src="../../../assets/img/arrow2.png" alt=""></div>
                </div>
            </div>
        </div>
                <div class=" d-inline-flex justify-content-end">
                    <small class=" text-end opacity-40">© Alexander Markianos 2021</small>
                </div>
            </div>
            
        </div>
                <!-- <footer class="bg-danger mt-5 pt-3">
                    <h1> </h1>
                </footer>
                <footer class="bg-info pt-3">
                    <h1> </h1>
                </footer>
                <footer class="bg-warning pt-3">
                    <h1> </h1>
                </footer>
                <footer class="bg-success pt-3">
                    <h1> </h1>
                </footer>
             -->

